# Binaries
*.exe
*.exe~
*.dll
*.so
*.dylib
fin_bot

# Test binary
*.test

# Output of the go coverage tool
*.out

# Dependency directories
vendor/

# Go workspace file
go.work

# Environment variables
.env

# Database
*.db
*.db-shm
*.db-wal
*.sqlite
*.sqlite3

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

